table.forma {
	border-collapse: collapse;
	margin: 5px;
}

table.forma caption {
	font-size: 16pt
}

table.forma th, td {
	border: 1px solid Gray;
	padding: 5px;
}

table.forma th {
	text-align: right;
	width: 150px;
	color: white;
	background-color: DodgerBlue;
}

table.forma td {
	background-color: White;
	min-width: 250px;
}

table.forma input, textarea, select {
	width: 250px;
	box-sizing: border-box;
}

table.forma input[type="checkbox"] {
	width: 20px;
}

table.forma input[type="radio"] {
	width: 20px;
}

p.greska {
	color: red;
}

input[type="submit"] {
    background-color: lightgrey;
    border: 1px solid lightorange;
}



.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  text-align: center;
}