table {
	border-collapse: collapse;
	margin: 5px;
}

img {
    max-width: 80px;
}

table caption {
	font-size: 16pt
}

table th, td {
#	border: 1px solid gray;
}

table th {
	color: white;
	background-color: DodgerBlue;
}

table tr:nth-child(even) {
	background-color: DodgerBlue;
	color: white;
}

table input, select {
	box-sizing: border-box;
}

table input[type="checkbox"] {
	width: 20px;
}

.skill-card-container {
    width: fit-content;
    height: auto;
    border-radius: 10px;
    border: 1px solid #f4f8e6;
    background-color: #f4f8e6;
    color: gray;
    display: inline-block;
    margin: 5px;
    font-size: small;
    font-style: italic;
}

.wider {
    min-width: 130px;
    margin: 3px;
}